*.suo
/.vs/XPlanGML-Toolbox/v15/Browse.VC.db
/.vs/XPlanGML-Toolbox/v15/ipch/*.ipch
/Debug
/.vs/XPlanGML-Toolbox/v15
/ipch/xplangml-toolbox-da208b8/*.ipch
/x64/Debug
/x64/Release
/AppConfig/Logfile.txt
/AppConfig/CityGML-Enhancement.txt
/AppConfig/Karte.svg
/AppConfig/Ueberschrift.svg
/AppConfig/Uebersicht.svg
/AppConfig/__ObjectData
/AppConfig/EnergySimulationLogfile.txt
/AppConfig/TimeSeriesRepository
/*.aps
/x64/Demo
/AppConfig/Documentation/ModulDoc.ldb
